{% extends 'layout.html'%}

{% block content%}

{% load static%}

<header>
    <div class="col-md-4">
<img src="{%static 'archivos/Yo.jpg'%}">
    </div>
    
    <div class="col-md-8">
        <h1> DANIEL MENDIETA</h1>
        <H3>PYTHON DEVELOPER</H3>
        <P>
            Soy un joven que esta dando sus primeros pasos en el mundo IT, <br>con la clara determinación
            de convertirme en un profesional en un futuro.<br>
            A fin de conseguirlo escucho a los que saben y todos los días dedico mucho tiempo al estudio<br> y a las practicas.<br> 
            Busco un equipo de trabajo donde juntos podamos lograr excelentes resultados mientras intercambiamos conocimientos</P>
    </div>

</header>
{% endblock %}


